body{font-family: "Arial",sans-serif;}
#site-header, #site-footer, .skip-link, .menu-modal, .entry-header{display: none;}
input[type="submit"]:focus{outline: none !important;border-color: transparent;}
.custom-font-italic{font-style: italic;}
.text-orange{color: #e28e12;}
#salary-content{max-width: 800px;font-family: "Arial",sans-serif;}
#salary-content .main-content{padding: 20px;}
#salary-content p{font-family: inherit;font-size: 14px;}
.post-meta-wrapper{display: none;}
#salary-content .small{
	font-size: 12px;
	line-height: 18px;
	font-style: italic;
	color: rgb(102 100 102 / 1);
}
#salary-content a{color: #4fad5a;font-size: 14px;}
#salary-content a:hover{text-decoration: underline;}
#salary-calculate-options {
    padding: 10px;
    background-color: #efefef;
    border-radius: 5px;
}
#salary-calculate-options span,
#salary-calculate-options label{
	color: #333;
	font-size: 14px;
	line-height: 20px;
}
.top-1 span,
.top-2 span{
	margin-right: 15px;
}
#salary-calculate-options .new{color: red;margin-right: 0;}
#salary-calculate-options .text-orange{color: #e28e12;}
.top-2 span{font-style: italic;}
#salary-calculate-options label{cursor: pointer;}
#salary-calculate-options input[name="salary_option"] + span{margin-right: 0;}
#salary-calculate-options input[name="salary_option"]:checked + span {
    color: #0074ff;
    margin-right: 0;
}
#salary-content h4{margin: 0;}
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
input[type="submit"]:hover{text-decoration: none;}
.rownote {
    background-color: #ededed;
}
.table-1>tbody>tr>th,
.table-1>tbody>tr>td{text-align: center;}
.table-2>tbody>tr>td,
.table-4>tbody>tr>td{text-align: right;}
.table-3>tbody>tr>th:nth-of-type(2),
.table-3>tbody>tr>th:nth-of-type(3),
.table-3>tbody>tr>td:nth-of-type(2),
.table-3>tbody>tr>td:nth-of-type(3){text-align: right;}